body {
   color: #555;
   font-family: 'Helvetica Neue', Arial, Helvetica, 'lucida grande', tahoma, verdana, arial, sans-serif;
   font-size: 13px;
   line-height: 1.5em;
   text-transform: inherit;
   background-color: #eee;
   background-image: url('/public/image/background/linen.jpg');
   background-repeat: repeat;
}
.p-a-0 {
   padding: 0;
}
.p-a-15 {
   padding: 15;
}
.m-a-15 {
   margin: 15px;
}
.m-l-10 {
   margin-left: 10px;
}
.m-l-20 {
   margin-left: 20px;
}
.m-t-10 {
   margin-top: 10px;
}
.m-t-0 {
   margin-top: 0;
}
.m-l-0 {
   margin-left: 0;
}