.navbar .brand {
   display: block;
   float: left;
   padding: 10px 20px 10px;
   margin-left: -20px;
   font-size: 20px;
   font-weight: 200;
   color: #777777;
   text-shadow: 0 1px 0 #ffffff;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
   color: #999999;
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse .brand {
   color: #999999;
}
body > .navbar .brand {
   padding-right: 0;
   padding-left: 0;
   margin-left: 20px;
   float: right;
   font-weight: bold;
   color: #000;
   text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
   -webkit-transition: all .2s linear;
   -moz-transition: all .2s linear;
   transition: all .2s linear;
}
footer {
   background: #343131;
   min-height: 100px;
   color: #fff;
}
#main-content {
   min-height: 1000px;
   background-color: #fff;
}
ul.footer-links {
   list-style: none;
   margin: 0 0 10px 5px;
}
ul.footer-links li {
   color: #fff;
   line-height: 1.4em;
}
ul.footer-links li a {
   color: #fff;
   font-size: 13px;
}