/*.links {
  margin-top: 20px;
  text-align: center;
}

.jaf-container {
  position: relative;
  padding: 0;
}

.jaf-row {
  min-width: 320px;
}

.folder {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  height: 310px;
  padding: 3% 3% 10px 3%;
  cursor: pointer;
}



.folder img {
  position: relative;
  margin-top: 0;
  margin-left: 0;
  max-width: 100%;
  background-color: #888;
  border: 1px solid #888;
  box-shadow: 2px 2px 5px #aaa;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.folder a:hover {
  text-decoration: none;
}

.app-folders-container {
  width: 100%;
  margin: 0 auto;
}





*/

.disc-cover-folder {
   float: left;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   width: 25%;
   height: 310px;
   padding: 3% 3% 10px 3%;
   cursor: pointer;
}
.disc-cover-folder a {
   color: #333;
   text-decoration: none;
}
.disc-cover-folder a:hover {
   color: #333;
   text-decoration: none;
}
.disc-cover {
   margin-top: 0;
   margin-left: 0;
   max-width: 100%;
   background-color: #888;
   border: 1px solid #888;
   box-shadow: 2px 2px 5px #aaa;
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   transition: all 0.2s ease-in;
}
.disc-title {
   font-weight: bold;
   font-size: 1em;
   line-height: 1.5em;
   margin: 10px 0px 5px 0px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
.artist-name {
   font-size: 1em;
   line-height: 1.5em;
   margin: 5px 0px 5px 0px;
   opacity: 1;
   color: #888;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   transition: all 0.2s ease-in;
}
.active-tool {
   z-index: 10;
}
.active-tool img {
   max-width: 110%;
   margin-top: -5%;
   margin-left: -5%;
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   transition: all 0.2s ease-in;
}
.active-tool .disc-title {
   padding-bottom: 6px;
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   transition: all 0.2s ease-in;
}
.active-tool .artist-name {
   opacity: 0;
   height: 2px;
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   transition: all 0.2s ease-in;
}
.disc-folder-content {
   position: relative;
   margin-top: 25px;
   z-index: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   min-width: 320px;
   padding: 20px 0 0 60px;
   background-color: rgb(9, 8, 9);
   border: 1px solid rgba(0, 0, 0, 0.3);
   border-width: 1px 0;
}
.disc-folder-content h2 {
   display: block;
   line-height: 1.5em;
   font-size: 1.5em;
   font-weight: bold;
   margin-bottom: 0;
}
.disc-folder-content h3 {
   margin: 0 0 20px;
   font-weight: normal;
   display: block;
   line-height: 1.2em;
   font-size: 1.2em;
   font-weight: bold;
}
.disc-folder-content a:hover {
   text-decoration: underline;
}
.disc-cover-detail {
   -moz-box-shadow: rgb(9, 8, 9) 12px 15px 20px inset, rgb(9, 8, 9) -1px -1px 150px inset;
   -webkit-box-shadow: rgb(9, 8, 9) 12px 15px 20px inset, rgb(9, 8, 9) -1px -1px 150px inset;
   box-shadow: rgb(9, 8, 9) 12px 15px 20px inset, rgb(9, 8, 9) -1px -1px 150px inset;
}
.disc-cover-detail img {
   z-index: -2;
   position: relative;
   max-width: 300px;
}
a.primary-color, a.primary-color:hover {
   color: rgb(198, 202, 198);
}
.secondary-color {
   color: rgb(106, 120, 134);
}
.track-list-block {
   -webkit-column-count: 2;
   -moz-column-count: 2;
   column-count: 2;
}
.current-indicator {
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 0 30px 30px 30px;
   border-color: transparent transparent rgb(9, 8, 9) transparent;
   position: relative;
   top: 20px;
   z-index: 10;
   left: 45%;
   opacity: 0;
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   transition: all 0.2s ease-in;
}
.active-tool .current-indicator {
   top: 2px;
   opacity: 1;
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   transition: all 0.2s ease-in;
}